.hero {
    position: relative;
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: end;
    align-items: end;
    overflow: hidden;
}

/* Background image only */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url(/src/assets/images/main-image.webp);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;

    z-index: -1;
}
.hero .title{
    position: absolute;
    top: 15%;
    left: 5%;
    max-width: 35rem;
    color: var(--white);
    font-size: 2.5rem;
    text-shadow: 0px 0px 3px #000000;
}

.hero .subTitle{
    font-size: 1.2rem;
    color: var(--blue);
    background: #ffffffc2;
    padding: 1rem;
    border-radius: .5rem;
    display: block;
    max-width: 830px;
    margin-left: auto;
    margin-bottom: 2.4rem;
        margin-right: 2.4rem;
}
.hero .subTitle strong{
        margin: .5rem;
        display: inline;
}
.hero .subTitle p{
    display: inline;
line-height: 1.2;
    margin-bottom: 0.5rem;
}

.companyInfo{
display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}
.companyInfo .vision,.companyInfo .mission{
        padding: 1.2rem 2.4rem;
        /* flex: 1; */
}
.companyInfo .vision{
background: var(--blue);
    color: var(--white);
    /* border-bottom: 3px solid var(--white); */
}
.companyInfo .mission{
background: var(--white);
    color: var(--blue);
    /* border-bottom: 3px solid var(--blue); */
        /* border-right: 3px solid var(--blue); */

}

.companyInfo h3{
color: inherit;
font-size: 1.8rem;
margin-bottom: 1rem;
}
.companyInfo  p{
color: inherit;
font-size: 1.6rem;
margin-bottom: 1rem;
    line-height: 1.4;
        margin-left: 2rem;

}
html[lang="ar"] .hero::before{
    transform: scaleX(-1);
}
html[lang="ar"] .hero .subTitle{margin-right: auto;    margin-left: 2.4rem;
}
html[lang="ar"] .hero .title{right: 5%;}

    

@media (min-width: 640px) {

    .companyInfo{
        flex-direction: row;
    }
}

/* Tablets */
@media (max-width: 768px) {
    .hero{
        height: 60vh;
    }
.hero::before{
        background-position: center;
            background-size: cover;

}
.hero .title{
    top: 15%;
    line-height: 1.2;
}
.hero .subTitle{
    margin: 1rem !important;
    font-size: 1.3rem;
}
.companyInfo p{
    color: inherit;
    /* font-size: 1.1rem; */
    margin-bottom: 1rem;
    line-height: 1.4;
    margin-left:0;
}
}

/* Desktop */
@media (min-width: 1024px) {
.hero{
        height: 100vh;
    }
    .hero::before{
        background-size: cover;
    }

}
@media (min-width: 1280px) {

}
/* Large screens */
@media (min-width: 1536px) {
.hero::before{
    background-position: center;
            background-size: cover;
}
}